*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.eredmeny{
    width: 70%;
    height: 70%;
    border: 5px;
    border-radius: 10px;
    background: #0000007b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1%;
    flex-direction: column;
}
body{
    background-image: url(stadion.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color:gold;
    text-align: center;
    font-size: 400%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.sor3{
    display: flex;
    justify-content: space-evenly;
    font-size: 80%;
    background-color: white;
    height: 100px;
    width: 80%;
    align-items: center;
}
.sor4{
    display: flex;
    justify-content: space-evenly;
    font-size: 15%;
    background-color: white;
    height: 100px;
    margin-top: 30px;
    align-items: center;
    width: 800px;
    justify-content: space-around;
}
p{
    font-size: 60px;
}
.ujra{
    margin-top: 30px;
    width: 360px;
    font-size: 40px;
    border-radius: 20px;
    background-color: rgb(rgb(30, 111, 45), green, blue);
}
.eredmeny_csnev{
    text-align: center;
}
.vskep{
    height: 100%;
}