*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fo{
    width: 2000px;
    height: 1500px;
    top: -278px;
    left: -872px;
    border: 5px;
    border-radius: 10px;
    background: #00000060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 200px;
    flex-direction: row;
}
.kiallitott1{
    display: flex;
    background-color: white;
    width: 500px;
    height: 1450px;
    margin-left: 25px;
}
.kiallitott2{
    display: flex;
    background-color:white;
    width: 500px;
    height: 1450px;
    margin-right: 25px;
}
.kozep{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 1000px;
}
h2{
    font-size: 80px;
}