*{
    margin: 5px;
    box-sizing: border-box;
}
.main{
    background: #00000060;
    color: white;
    text-align: center;
    font-size: 50%;
    display: flex;
    margin-top: 20px;
    flex: 1;
    flex-direction: row;
}
.kiallitott1{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3em 0 3em 0;
    color: black;
    flex: 2 2 100px;
    margin-right: 0.5%;
}
.kiallitott2{
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 3em 0 3em 0;
    color: black;
    flex: 2 2 100px;
    margin-left: 0.5%;
}
.kozep{
    display: flex;
    background-color: white;
    padding:  3em 0 3em 0;
    flex: 5 5 150px;
    color: black;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
h2{
    font-size: 700%;
}
.eredmeny_csnev{
    font-size: 250%;
}
header{
    background-color: #00000060;
    padding: 2em 0 2em 0;
}
footer{
    background-color: #00000060;
    padding: 2em 0 2em 0;
}
.body{
    height:80vh;
    background-color: #00000060;
    text-align: center;
    color: white;
    font-size: 125%;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 95%;
}
.sor{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.sor_2{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.golszam{
    background-color: white;
    color: black;
    font-size: 500%;
    width: 5%;
}
.gomb{
    width: 30%;
    height: 300%;
    font-size: 300%;
    border-radius: 20px;
}
hr{
    color: black,3%;
    height: 2%;
}
.ido{
    background-color: white;
    color: black;
    font-size: 300%;
    width: 10%;
    text-align: center;
}
.plus{
    width: 2.5%;
    height: 100px;
    font-size: 40px;
    margin-right: -5.5%;
}
.minus{
    width: 2.5%;
    height: 100px;
    font-size: 40px;
    margin-left: -5.5%;
}




.idobealliatas{
    display: flex;
    width: 30%;
    font-size: 600%;
    flex-direction: column;
    text-align: center;
}
.hosszabitas{
    font-size: 70%;
    text-align: center;
}
.hossz_gomb{
    font-size: 50%;
    width: 50%;
    text-align: center;
}
.kiallitas{
    font-size: 250%;
    display: flex;
    height: 15%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
    text-align: center;
}

option,select{
    height: 80%;
    font-size: 40px;
    width: 100%;
}
.nev{
    width: 100%;
    height: 80%;
    font-size: 200%;
    margin-top: 20px;
}
.kiallit{
    width: 100%;
    height: 100%;
    font-size: 250%;
}
.kiallitgomb{
    width: 30%;
    height: 70px;
    margin-top: 20px;
    font-size: 200%;
    border-radius: 3px;

}
h3{
    font-size: 300%;
}
@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}